<div class="container">
<% if(page.posts.length){ %>
<div class="page-content box-shadow-medium">
<div class="notice">
<div style="text-align: center;">文章归档</div>
</div>
<div class="times">
<%var last;%>
<ul>
	<% page.posts.each(function(post){ %>
	<% var year=post.date.year() %>
	<%last=year%>
	<%if(last==year){%>
	<li>
		<b></b>
		<span>

		<%=time(post.date,"YY-MM-DD")%>
			<a href="<%-url_for(post.path)%>"><%=post.title%></a>
		</span>
	</li>
	<%}%>
	<% })%>
</ul>
</div>
	 
</div>
<%}%>
</div>
	<%-  partial('_partial/paginator') %>	
	
	

